<div class="l-page">
  <div class="l-page__header">
    {% include "@organisms/site/00-header/header.twig"
      with {
        logo: header_logo,
        menu_main: header_menu_main,
      }
    %}
  </div>

  <div class="l-page__utilities">
    {% if messages %}
      <div class="l-page__utilities-messages">
        {{ messages }}
      </div>
    {% endif %}

    {% if tabs %}
      <div class="l-page__utilities-tabs">
        {{ tabs }}
      </div>
    {% endif %}
  </div>

  {% block page_content %}
    {{ content }}
  {% endblock %}

  <div class="l-page__footer">
    {% include "@organisms/site/01-footer/footer.twig"
      with {
        year: footer_year,
      }
    %}
  </div>
</div>
